{% extends 'base.html' %}

{% block 'titulo' %} Cadastrar Transação {% endblock %}

{% block 'conteudo' %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md">
            <h1> Cadastrar Transação</h1>
            <hr>
            <form action="{% url 'valida_transacao' %}" method="post"> {% csrf_token %}
                <label for="tipo">Tipo de operação</label>
                <select class="form-control" name="tipo_operacao" id="tipo-de-operacao">
                    <option value=""></option>
                    <option value="Compra">Compra</option>
                    <option value="Venda">Venda</option>
                </select>
                <br>
                <label for="ativo">Ativo</label>
                <input class="form-control" list="ativos" id="ativo" name="ativo">
                <datalist id="ativos">
                    {% for ativo  in ativos %}
                        <option value={{ativo.cod}}> {{ativo.nome_empresa}} </option>
                    {% endfor %}
                    <option value='rrttt'>
                </datalist>
                <br>
                <label for="quantidade">Quantidade</label>
                <input name="quantidade" class="form-control" type="number" placeholder="">
                <br>
                <label for="preco">Preço</label>
                <input name="preco" class="form-control" type="number" step="any" placeholder="">
                <br>
                <label for="corretagem">Corretagem</label>
                <input name="corretagem" class="form-control" type="number" step="any" placeholder="">
                <br>
                <label for="data">Data</label>
                <input name="data" class="form-control" type="date">
                <br>
                <input class="btn btn-info btn-lg" type="submit" value="Cadastrar">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}